<main>
    <section class="form-section">
        <img class="logo" src="/assets/svg/logo.svg">
        <h2>{{tittle}}</h2>
        <div class="btn-wrapper">
            <button class="btn-primary">{{primaryBtnText}}</button>
            <button class="btn-secudary">{{secondaryBtnText}}</button>
            <div class="divider">
                <div></div>
                <span>or</span>
                <div></div>
            </div>
            <div class="socialmedias-buttons">
                <a href="coisas?" class="btn-facebook">
                    <img src="/assets/svg/facebook.svg" alt="facebook">
                </a>
                <a href="" class="btn-google">
                    <img src="/assets/svg/google.svg" alt="google">
                </a>
                <a href="" class="btn-apple">
                    <img src="/assets/svg/apple.svg" alt="apple">
                </a>
            </div>
        </div>
    </section>
    <section class="main-section">
        <h2>teste</h2>
        <img src="/assets/svg/ilustracaoPrincipal.svg" alt="">
    </section>
</main>